body {
    background: #fffdfa;
}

.posts.list{
    margin-left: 1%;
    width: fit-content;
}
.date{
    font-size: smaller;
    color: rgb(98, 92, 92);
}
.categories_list{
    margin-left: 5%;
    width: 30%;
}
.delete{
    float: right;
    position: relative;
    bottom: 25px;
    color: rgb(222, 2, 2)
}
.delete a{
    color:#dc0000;
    text-decoration: none
}