<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a href="/" class="nav-link">
                Головна
            </a>
        </li>
        <li class="nav-item">
            <a href="/post/category" class="nav-link">
                Категорії
            </a>
        </li>
        <li class="nav-item">
            <a href="/post/view" class="nav-link">
                Пости
            </a>
        </li>
    </ul>
    </div>
</nav>